// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Overlay: Waveshare DSI-to-DPI bridge (waveshare,dsi2dpi) + panel-dpi +
 * GT911 touch. Base dts must have &i2c3, &mipi_dsi, &ldb, &ldb_phy labels.
 */
/dts-v1/;
/plugin/;

#include "imx8mp-pinfunc.h"

/ {
	fragment@0 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			bridge@45 {
				compatible = "waveshare,dsi2dpi";
				reg = <0x45>;
				power-supply = <&reg_audio_3v3>;

				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;

						waveshare_from_dsim: endpoint {
							data-lanes = <1 2>;
							remote-endpoint = <&dsim_to_waveshare>;
						};
					};

					port@1 {
						reg = <1>;

						waveshare_to_panel: endpoint {
							remote-endpoint = <&panel_to_waveshare>;
						};
					};
				};
			};

			gt911: gt911@14 {
				compatible = "goodix,gt911";
				reg = <0x14>;
				touchscreen-size-x = <890>;
				touchscreen-size-y = <480>;
				touchscreen-swapped-x-y;
				touchscreen-inverted-x;
			};
		};
	};

	/* panel-dpi is board-level, not under any bus - attach to root */
	fragment@1 {
		target-path = "/";
		__overlay__ {
			panel {
				compatible = "panel-dpi";
				power-supply = <&reg_audio_3v3>;
				status = "okay";

				width-mm = <154>;
				height-mm = <86>;

				port {
					panel_to_waveshare: endpoint {
						remote-endpoint = <&waveshare_to_panel>;
					};
				};

				panel-timing {
					clock-frequency = <30850000>;
					hactive = <480>;
					vactive = <890>;
					hback-porch = <40>;
					hfront-porch = <40>;
					hsync-len = <10>;
					vback-porch = <13>;
					vfront-porch = <3>;
					vsync-len = <3>;
					de-active = <1>;
					pixelclk-active = <0>;
				};
			};
		};
	};

	fragment@2 {
		target = <&ldb>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&ldb_phy>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@4 {
		target = <&mipi_dsi>;
		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;

			port@1 {
				reg = <1>;
				dsim_to_waveshare: endpoint {
					remote-endpoint = <&waveshare_from_dsim>;
					attach-bridge;
					data-lanes = <1 2>;
				};
			};
		};
	};
};
